@model IEnumerable<PonyRidesWebSite.Models.BookingList>

@{
    ViewBag.Title = "View";
}

<p></p>
<h2>My Bookings</h2>
<p></p>

<table class="table">
    <tr>
        <th>
            Pony
        </th>
        <td></td>
        <th>
            Date
        </th>
        <th>
            Time
        </th>
        <td>
        </td>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <h3>@Html.DisplayFor(modelItem => item.PonyName)</h3>
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.PonyPicture)" width="100" height="100" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Day)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Session)
        </td>
        <td>
             @Html.ActionLink("Delete", "Delete", new { id=item.SessionID })
        </td>
    </tr>
}

</table>
